<?xml version='1.0' encoding='utf-8'?>
<widget id="com.inversa.app" version="1.0.28" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>DonPorfirio</name>
    <description>
        Aplicacion de negocios
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <access origin="whatsapp//*" launch-external="yes" />
    <allow-navigation href="https://*.stripe.network/*" />
    <allow-navigation href="https://*.stripe.com/*" />
    <allow-navigation href="https://*.issoftware1.com.mx/*" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

      <plugin name="cordova-plugin-firebasex" spec="https://github.com/dpa99c/cordova-plugin-firebase" >
        <variable name="IOS_STRIP_DEBUG" value="true" />
        <variable name="FIREBASE_ANALYTICS_COLLECTION_ENABLED" value="false" />
        <variable name="FIREBASE_PERFORMANCE_COLLECTION_ENABLED" value="false" />
        <variable name="FIREBASE_CRASHLYTICS_COLLECTION_ENABLED" value="false" />
        <variable name="SETUP_RECAPTCHA_VERIFICATION" value="true" />
    </plugin>

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access launch-external="yes" origin="whatsapp:*" />
    <access launch-external="yes" origin="whatsapp://*" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <platform name="android">
        <preference name="android-build-tool" value="gradle" />

        <resource-file src="google-services.json" target="app/google-services.json" />
       
  <!-- ... otros ajustes ... -->
         <allow-intent href="whatsapp:*" />
          <preference name="AndroidXEnabled" value="true" />

        <!-- Build with SDK: Android 13 -->
        <preference name="android-targetSdkVersion" value="33" />

        <!-- Android 5.1 -->
        <preference name="android-minSdkVersion" value="22" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="loadUrlTimeoutValue" value="700000" />
        <preference name="android-targetSdkVersion" value="33" />


  <!--   <edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application/activity" mode="merge">
  <activity android:exported="true" />
</edit-config>
<edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application/service" mode="merge">
  <tools android:exported="true" />
</edit-config> 
 -->
  <!--   <resource-file src="google-services.json" target="app/google-services.json" />

 -->
       <!--  <preference name="android-compileSdkVersion" value="32" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="loadUrlTimeoutValue" value="700000" />
        <preference name="android-targetSdkVersion" value="31" />
        <resource-file src="res/android/build-extras.gradle" target="app/build-extras.gradle" />
        <resource-file src="res/android/gradle.properties" target="gradle.properties" />
        <resource-file src="res/android/raw/blackberry.mp3" target="app/src/main/res/raw/blackberry.mp3" />
        <resource-file src="res/android/raw/msn.mp3" target="app/src/main/res/raw/msn.mp3" />
        <resource-file src="res/android/raw/crystal.mp3" target="app/src/main/res/raw/crystal.mp3" />
        <resource-file src="res/android/drawable-mdpi/ic_launcher.png" target="app/src/main/res/drawable-mdpi/ic_launcher.png" />
        <resource-file src="res/android/drawable-hdpi/ic_launcher.png" target="app/src/main/res/drawable-hdpi/ic_launcher.png" />
        <resource-file src="res/android/drawable-xhdpi/ic_launcher.png" target="app/src/main/res/drawable-xhdpi/ic_launcher.png" />
        <resource-file src="res/android/drawable-xxhdpi/ic_launcher.png" target="app/src/main/res/drawable-xxhdpi/ic_launcher.png" />
        <resource-file src="res/android/drawable-xxxhdpi/ic_launcher.png" target="app/src/main/res/drawable-xxxhdpi/ic_launcher.png" />
        <resource-file src="res/android/drawable-xxxhdpi/ic_launcher_large.png" target="app/src/main/res/drawable-xxxhdpi/ic_launcher_large.png" />
        <resource-file src="res/android/drawable-mdpi/ic_launcher.png" target="app/src/main/res/drawable-mdpi/ic_launcher.png" />
        <resource-file src="res/android/drawable-hdpi/ic_launcher.png" target="app/src/main/res/drawable-hdpi/ic_launcher.png" />
        <resource-file src="res/android/drawable-xhdpi/ic_launcher.png" target="app/src/main/res/drawable-xhdpi/ic_launcher.png" />
        <resource-file src="res/android/drawable-xxhdpi/ic_launcher.png" target="app/src/main/res/drawable-xxhdpi/ic_launcher.png" />
        <resource-file src="res/android/drawable-xxxhdpi/ic_launcher.png" target="app/src/main/res/drawable-xxxhdpi/ic_launcher.png" />
        <resource-file src="res/android/drawable-xxxhdpi/ic_launcher_large.png" target="app/src/main/res/drawable-xxxhdpi/ic_launcher_large.png" />
        <resource-file src="res/android/values/colors.xml" target="app/src/main/res/values/colors.xml" />
        <preference name="android-minSdkVersion" value="22" /> -->
        <allow-intent href="market:*" />
        <icon src="res/icons/android/playstore-icon.png" />

        <preference name="SplashScreen" value="none"/>
        <preference name="AndroidWindowSplashScreenBackground" value="#000000" />
         <preference name="AndroidwindowSplashScreenAnimatedIcon" value="res/icons/android/imagennegra.png" />

         <preference name="AndroidwindowSplashScreenAnimationDuration" value="1000" />

         


    <preference name="AutoHideSplashScreen" value="true" />
<preference name="SplashScreenDelay" value="0"/>
    <preference name="orientation" value="portrait" />
    
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="NSCameraUsageDescription" platform="ios" target="*-Info.plist">
            <string>Grupo Inversa needs access to camera files to add a pictures and photo user profile </string>
        </config-file>
        <config-file parent="NSPhotoLibraryUsageDescription" platform="ios" target="*-Info.plist">
            <string>Grupo Inversa needs access to the phone's files to add a pictures and photo user profile
          </string>
        </config-file>
        <config-file parent="NSLocationWhenInUseUsageDescription" platform="ios" target="*-Info.plist">
            <string>
          Grupo Inversa needs access to your approximate location, to choose the zip code
        </string>
        </config-file>
        <config-file parent="NSLocationAlwaysUsageDescription" platform="ios" target="*-Info.plist">
            <string> Grupo Inversa access to your approximate location, to choose the zip code</string>
        </config-file>
        <config-file parent="CFBundleAllowMixedLocalizations" platform="ios" target="*-Info.plist">
            <true />
        </config-file>



        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
        <preference name="StatusBarOverlaysWebView" value="true" />
        <icon height="180" src="res/icon/ios/icon-60x60@3x.png" width="180" />
        <icon height="60" src="res/icon/ios/icon-60x60@1x.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60x60@2x.png" width="120" />
        <icon height="76" src="res/icon/ios/icon-76x76@1x.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76x76@2x.png" width="152" />
        <icon height="228" src="res/icon/ios/icon-76x76@3x.png" width="228" />
        <icon height="40" src="res/icon/ios/icon-40x40@1x.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-40x40@2x.png" width="80" />
        <icon height="87" src="res/icon/ios/icon-29x29@3x.png" width="87" />
        <icon height="57" src="res/icon/ios/icon-57x57@1x.png" width="57" />
        <icon height="114" src="res/icon/ios/icon-57x57@2x.png" width="114" />
        <icon height="72" src="res/icon/ios/icon-72x72@1x.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72x72@2x.png" width="144" />
        <icon height="167" src="res/icon/ios/icon-83.5x83.5@2x.png" width="167" />
        <icon height="29" src="res/icon/ios/icon-29x29@1x.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-29x29@2x.png" width="58" />
        <icon height="50" src="res/icon/ios/icon-50x50@1x.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-50x50@2x.png" width="100" />
        <icon height="167" src="res/icon/ios/icon-83.5x83.5@2x.png" width="167" />
        <icon height="1024" src="res/icon/ios/icon-512x512@2x.png" width="1024" />
    </platform>

</widget>
